<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <form action="/user/login" method="post">
            <input type="text" name="username" placeholder="Enter the username">
            <input type="password" name="password" placeholder="Enter the password">
            <button>Submit !</button>
        </form>
    </main>
</body>
</html>

